*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "ABeeZee";
  src: url("fonts/ABeeZee-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ABeeZee-italic";
  src: url("fonts/ABeeZee-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "cookie-regular";
  src: url("fonts/Cookie-Regular.ttf") format("truetype");
}

:root {
  --color-bg-primary: #fff;
  --color-bg-secundary: #006d88;
  --color-bg-tertiary: #dbff5f;

  --color-fg-primary: #30b3cb;
  --color-fg-secundary: #30c3cb;
  --color-fg-tertiary: #b83890;

  --color-button-primary: #9b9898;
  --color-button-secondary: #dddddd;

  --color-font-primary: #333;
  --color-font-secondary: #333;

  --padding-section-left: 6rem;
  --padding-section-right: 6rem;
}

.h1 {
  color: var(--color-fg-secundary);
  font-size: 3.5rem;
  font-family: "cookie-regular";
  font-weight: normal;
  font-style: normal;
  width: 15rem;
}

.h2 {
  font-size: 2rem;
  line-height: 1.3;
}

.header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

.section-main {
  height: 100vh;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.section-main-video {
  flex: 0 0 60%;
  padding: 2rem;
}

.section-main-text {
  width: 30%;
  text-align: center;
}

.section-main-h2 {
  color: var(--color-fg-tertiary);
  font-size: 2rem;
  font-family: "ABeeZee-italic";
  margin-bottom: 0.5rem;
}

.section-main-h3 {
  font-size: 1.6rem;
  font-family: "ABeeZee-italic";
  margin-bottom: 0.5rem;
}

.section-main-p {
  font-family: "ABeeZee-italic";
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.section-header-band {
  background-color: var(--color-bg-tertiary);
  color: var(--color-font-primary);
  padding: 1rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  margin: 1rem 1rem 1rem 2rem;
  height: 4rem;
}

.section-header-logo {
  display: flex;
  align-items: center;
}

.section-goals {
  color: var(--color-fg-primary);
  font-family: "ABeeZee";
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: var(--padding-section-left);
  padding-right: var(--padding-section-right);
}

.section-goals > p {
  margin-bottom: 1rem;
}

.section-goals > p.disclaimer {
  margin-top: 2rem;
  color: var(--color-font-primary);
}

.section-goals > ul > li {
  margin-bottom: 1rem;
}

.section-testimony {
  background-color: var(--color-bg-secundary);
  padding: 4rem var(--padding-section-left);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-testimony > p {
  color: var(--color-bg-primary);
  margin-bottom: 1rem;
  line-height: 1.7rem;
  font-family: "ABeeZee-italic";
  text-align: center;
}

.section-testimony > p > span {
  color: var(--color-bg-tertiary);
}

.section-question {
  color: var(--color-fg-tertiary);
  font-family: "ABeeZee";
  height: 100vh;
  padding: 0 2rem 0 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.section-question-image {
  flex: 1 1 50%;
  padding: 2rem;
}

.section-question-text {
  flex: 1 1 50%;
}

.section-question-h2 {
  margin-bottom: 2rem;
}

.section-about {
  color: var(--color-font-primary);
  font-family: "ABeeZee";
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: var(--padding-section-left);
  padding-right: var(--padding-section-right);
  gap: 2rem;
}

.section-about-text {
  flex: 1 1 40%;
}

.section-about-img {
  flex: 1 1 40%;
  padding: 2rem;
}

.section-about-h2 {
  color: var(--color-bg-secundary);
  font-size: 2rem;
  font-family: "ABeeZee-italic";
  padding-bottom: 2rem;
}
.section-about-p {
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.section-invitation {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-invitation-h2 {
  color: var(--color-fg-tertiary);
  padding: 2rem 6rem 2rem 6rem;
  text-align: center;
  font-family: "ABeeZee";
}

.section-form {
  padding-left: var(--padding-section-left);
  padding-right: var(--padding-section-right);
}

.section-form > form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.section-form > form > * {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 0.1rem var(--color-fg-primary) solid;
}

.button {
  background-color: var(--color-fg-primary);
  color: var(--color-bg-tertiary);
  border-radius: 5px;
  padding: 1rem;
  border: none;
  text-transform: capitalize;
  width: 10rem;
}

.button:hover {
  cursor: pointer;
}

.profile-image {
  width: 100%;
  border-radius: 50%;
}

.testimonial-image {
  width: 50px;
  border-radius: 50%;
}

.column {
  flex: 0 0 45%;
  max-width: 45%;
  text-align: left;
}

.row {
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-small {
  width: 10rem;
  height: 10rem;
}

.logo-small-circle {
  border-radius: 50%;
  border: 0.4rem solid var(--color-fg-primary);
}

@media (max-width: 767px) {
  .section-goals {
    --padding-section-left: 2rem;
    --padding-section-right: 2rem;
  }
  .section-about {
    --padding-section-left: 2rem;
    --padding-section-right: 2rem;
  }
  .section-testimony {
    --padding-section-left: 2rem;
    --padding-section-right: 2rem;
  }
  .section-form {
    --padding-section-left: 2rem;
    --padding-section-right: 2rem;
  }
  .section-invitation-h2 {
    padding: 2rem 3rem 2rem 3rem;
  }
  .section-header-band {
    height: 100%;
  }
  .h1 {
    width: initial;
    font-size: 2.5rem;
    line-height: 2rem;
  }
  .logo-small {
    width: 5rem;
    height: 5rem;
  }
  .header {
    position: inherit;
  }
  .section-main-text {
    width: 100%;
  }
  .section-main-video {
    flex: 0 0 100%;
  }
  .section-about {
    height: 100%;
  }
  .section-about-text {
    flex: 1 1 100%;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}
